body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.kitchen{
  background-image: url("https://images.pexels.com/photos/3637728/pexels-photo-3637728.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}



.bedroom{
  background-image: url("https://images.pexels.com/photos/1374125/pexels-photo-1374125.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

}

.bathroom{
  background-image: url("https://images.pexels.com/photos/6032203/pexels-photo-6032203.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.livingRoom{
  background-image: url("https://images.pexels.com/photos/3797991/pexels-photo-3797991.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

}



.slider {
  width: 100%;
  height: 630px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.slide-ana {
  height: 100%;
}
.slide-ana > div {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 1s;
}